1. Name:Twitter_only
   Type: Non-functional
   Summary:The application will only be using Twitter, not any other social media application.

2. Name: Operating_System
   Type: constraint
   Summary:The specific operating system used is Windows 10.

3. Name: Program_Language
   Type: constraint
   Summary: Will only use C# and WPF

4. Name: Username_Input
   Type: Functional
   Summary:The application must read in a user's username.

5. Name: Password_Input
   Type: Functional
   Summary:The application must read in a user's password.

6. Name: Download_Picture
   Type: Functional
   Summary: The application is able to download a picture from the given gallery.

7. Name: Link_Status  
   Type: Functional
   Summary: The application provides a way back to the original status of any image via link.

8. Name: Gallery_Display 
   Type: Non-functional
   Summary: The application must have a proper display for the user's photo gallery.

9. Name: Picture_Select
   Type: Functional
   Summary: The application must be able to select specific picture to display only.

10. Name: Twitter_API
    Type: Contraint 
    Summary: The application must be able to connect to Twitter.

11. Name: Password_Secure
    Type: Risk
    Summary: User's password must be secure and hidden.

12. Name: Search_Button
    Type: Functional
    Summary: Allows the application to search for a specified user.

13. Name: Window_Display 
    Type: Risk
    Summary: The application adjusts to the size of the window screen.

14. Name: Internet_Connectivity 
    Type: Non-functional
    Summary: The application must have a stable internet connection.

15. Name: Multiple_Download 
    Type: Functional
    Summary: The application must be able to download multiple images for download all at once.

16. Name: Album_Create
    Type: Functional
    Summary: The application creates an album for saved pictures.

17. Name: Album_Save 
    Type: Funtional
    Summary: The application must be able to save specified pictures in the album.

18. Name: Watermark_Create 
    Type: Functional
    Summary: The Application creates a watermark at the bottom corner if images which will specify the user it comes from.

19. Name: Single_Picture_Exit
    Type: Functional
    Summary: The application must be able exit out of a selected picture to go back to the gallery.

20. Name: Twitter_Grab
    Type: Non-Functional
    Summary: The application must be able to retrieve the selected user's photos from Twitter.

21. Name: Show_Specific_User_Or_Feed
    Type: Functional
    Summary: The Application must be able to select a certain twitter user and show only those images. 
    Conversly there must be a way to show the entirety of the signed in user's feed if a certain user was selected.
22. Name: Show_Image_Text
    Type: Functional
    Summary: The application must be able to show text associated with the picture via clicking a button. The text must not be shown 
    before such a time. This button will also close the text when clicked again.
23. Name: Image_Type
    Type: Constraint
    Summary: This application will save all image files as a '.jpg' file or as '.gif' for animated gifs.
    
